---
import HeroTitle from "../components/ui/Hero-Title.astro";
import MainLayout from "../layouts/MainLayout.astro";
import hero from "../assets/images/hero.jpg";
---

<MainLayout title="About Us", scrollText="The whole world is digital. How about you?", description=`Established in 2022, {Context Root} is your expert company focuses on the development and revitalization of brands. Our primary responsibility involves devising and implementing strategies for brand growth and progression.`,     
    image={hero.src}>

  <!--About Us-->
  <div class="relative w-full py-12">
    <div class="w-95 mx-auto">
      <div class="flex justify-between"></div>
      <div class="flex flex-col md:flex-row gap-5">
        <h3 class="w-full md:w-40 text-40">About Us</h3>
        <div class="w-full md:w-60">
          <div class="w-full">
            <h3>
              At Context Root, we endeavor to surpass expectations by creating outstanding digital encounters on diverse
              platforms.
            </h3>
            <div class="flex flex-col md:flex-row lg:flex-row gap-3 pt-6">
              <div class="sm:w-full md:w-1/2">
                <p class="mb-10">
                  Dedicated to excelling in the realm of digital creation, Context Root is unwavering in its commitment
                  to delivering exceptional experiences across all devices. Our firm maintains high standards in every
                  project, ensuring that we stay aligned with evolving technology and dynamic digital trends. We focus
                  on providing impactful and functional experiences across all platforms, from design to application
                  development. Attention to detail is paramount in every stage of our work, as we strive to achieve the
                  highest quality standards. Through our innovative approach and meticulous efforts, we aim to deliver
                  the best outcomes in digital creation and offer unique solutions that set our clients apart from their
                  competitors.
                </p>
              </div>
              <div class="sm:w-full md:w-1/2">
                <p class="mb-10">
                  Our steadfast goal is to exceed expectations and set unparalleled standards of excellence in every
                  project. At Context Root, we prioritize high quality and innovation in all our digital endeavors. By
                  understanding our clients' needs and goals, we aim to provide digital solutions that ensure their
                  success not only today but also in the future. Each project represents an opportunity for us to add
                  value and offer the highest standards in the industry. Our pursuit of excellence, combined with our
                  determination to achieve the best results at every step, ensures that we create a lasting impact in
                  the digital world.
                </p>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--About Us-->
  <div class="relative w-full py-12">
    <div class="w-95 mx-auto">
      <div class="flex justify-between"></div>
      <div class="flex flex-col md:flex-row gap-5">
        <h3 class="w-full md:w-40 text-40">Mission&Vision</h3>
        <div class="w-full md:w-60">
          <div class="w-full">

            <div class="flex flex-col md:flex-row lg:flex-row gap-3 pt-6">
              <div class="sm:w-full md:w-1/2">
                <p class="mb-10">
                  Our mission is to provide genuinely impactful and unique digital solutions for your brand. With a
                  broad range of services, including web design, mobile app development, SEO, and e-commerce solutions,
                  we are here to offer tailored and actionable solutions at every step. Each project is a significant
                  milestone in your brand’s digital journey, and our primary goal is to create success and value through
                  our work.
                </p>
              </div>
              <div class="sm:w-full md:w-1/2">
                <p class="mb-10">
                  Our vision is to elevate your brand in the digital world by connecting it with future technologies.
                  Through innovative designs, effective software solutions, and strategic SEO services, we ensure that
                  your brand stays ahead of both today’s and tomorrow’s digital trends. We are committed to excellence
                  and sustainability in every project, continually adding value and ease to your brand.
                </p>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
