---
import logoWhite from "../assets/images/logo-white.svg";
import logoDark from "../assets/images/logo-dark.svg";
import ThemeIcon from "./icon/ThemeIcon.astro";
import Hamburger from "./icon/Hamburger.astro";
---

<!-- Header -->
<header class="sticky inset-x-0 top-4 z-50 flex w-full">
  <div
    class="relative flex justify-between w-95 mx-auto items-center px-8 py-2 bg-white/30 backdrop-blur-md dark:bg-dark/30 dark:backdrop-blur-md rounded-full">
    <img class="w-80 dark:hidden" src={logoWhite.src} alt="context root logosu" />
    <img class="w-80 hidden dark:block" src={logoDark.src} alt="context root logosu" />
    <div class="flex items-center text-primary-800s dark:text-secondary-300">
      <span class="hidden md:inline-block">
        <button id="theme-toggle" aria-label="Tema değiştir" aria-pressed="false">Değiştir</button>
      </span>
      <Hamburger />
    </div>
  </div>
</header>

<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const themeToggle = document.getElementById("theme-toggle");
    if (themeToggle) {
      themeToggle.addEventListener("click", () => {
        document.body.classList.toggle("dark");
        localStorage.setItem("theme", document.body.classList.contains("dark") ? "dark" : "light");
      });

      // Sayfa yüklendiğinde local storage'daki temayı ayarla
      const currentTheme = localStorage.getItem("theme");
      if (currentTheme === "dark") {
        document.body.classList.add("dark");
      } else {
        document.body.classList.remove("dark");
      }
    }
  });
</script>
