---
import ScrollText from "./ScrollText.astro";
---

<div>
  <div>
    <div class="mx-auto flex justify-between py-12">
      <ScrollText scrollText="Context Root Creative Agency " class="text-[160px]" />
    </div>
  </div>
  <div class="relative w-full">
    <ul class="list-none flex gap-6 mx-auto justify-center text-20 pb-10">
      <li>Home</li>
      <li>About Us</li>
      <li>Services</li>
      <li>Articles</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="w-95 mx-auto py-6 text-center flex justify-between">
    <div><p>© 2024 Context Root. All rights reserved.</p></div>
    <div>
      <ul class="list-none flex gap-6">
        <li>Privacy Policy</li>
        <li>Terms & Conditions</li>
        <li>Cookie Policy</li>
      </ul>
    </div>
  </div>
</div>
