---
import logoDark from "../../assets/images/logo-dark.svg";
---

<div>
  <div>
    <div class="w-95 mx-auto flex justify-between py-12">
      <div>
        <img src={logoDark.src} alt="context root logo" />
      </div>
      <div>
        <h6 class="font-semibold text-20">Services</h6>
        <ul>
          <li>Web Design</li>
          <li>Web Development</li>
          <li>Mobile Application</li>
          <li>SEO</li>
        </ul>
      </div>
      <div>
        <h6 class="font-semibold text-20">Company</h6>
        <ul>
          <li>About Us</li>
          <li>Our Team</li>
          <li>Projects</li>
          <li>Careers</li>
        </ul>
      </div>
      <div>
        <h6 class="font-semibold text-20">Legal</h6>
        <ul>
          <li>Privacy Policy</li>
          <li>Terms & Conditions</li>
          <li>Cookie Policy</li>
        </ul>
      </div>
      <div>
        <h6 class="font-semibold text-20">Contact</h6>
        <ul>
          <li>[email protected]</li>
          <li>+1 234 567 89 00</li>
          <li>1234 Street Name, City Name</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-95 mx-auto py-6 text-center">
    <p>© 2024 Context Root. All rights reserved.</p>
  </div>
</div>
