---
import logoWhite from "../../assets/images/logo-white.svg";
import logoDark from "../../assets/images/logo-dark.svg";
import Hamburger from "../icon/Hamburger.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<!-- Header -->
<header class="sticky top-4 z-50 flex w-full">
  <div
    class="relative flex justify-between w-95 mx-auto items-center px-8 py-2 bg-light/10 backdrop-blur-md dark:bg-night/30 dark:backdrop-blur-md rounded-full">
    <div>
      <img class="h-4 lg:h-8 dark:hidden" src={logoWhite.src} alt="context root logosu" />
      <img class="h-4 lg:h-8 hidden dark:block" src={logoDark.src} alt="context root logosu" />
    </div>
    <div class="flex items-center text-primary-800s">
      <span class="flex">
        <ThemeToggle />
        <Hamburger id="hamburgerBtn" />
      </span>
    </div>
  </div>
</header>
