---
import ScrollText from "./ScrollText.astro";
interface Props {
  title?: string;
  scrollText?: string;
  description?: string;
  image?: string;
}

const { title = "Default Title", scrollText = "", description = "", image = "" } = Astro.props;
---

<div class="pt-40 w-95 m-auto">
  <h2 class="text-20">{title}</h2>
  <ScrollText scrollText={scrollText} />
  <div>
    <h3>
      {description}
    </h3>
  </div>
</div>
<div class="w-95 m-auto mt-6">
  <img src={image} alt="Image" class="h-[650px] w-full object-cover rounded-lg" />
</div>
