---
interface Props {
  number?: number;
  menuName?: string;
  link?: string;
}
const {
  number = 0,
  menuName = "Default Menu Name",
  link = "",
} = Astro.props as Props;
---

<a href={link}>
  <div class="flex items-center">
    <p class="pr-2">0{number}.</p>
    <h3 class="font-thin">{menuName}</h3>
  </div>
</a>
