---
import MenuItem from "./MenuItem.astro";
---

<div
  id="sidebarMenu"
  class="flex fixed bg-light dark:bg-night justify-between flex-col py-8 px-20 h-full w-full md:w-1/2 lg:w-1/3 top-0 right-0 z-50 text-night dark:text-light">
  <button id="closeBtn" class="text-end mt-12">Kapat</button>
  <div class="flex gap-6 flex-col">
    <MenuItem number={1} menuName="Home" link="/Context-Root-Website-Astro/" />
    <MenuItem number={2} menuName="About Us" link="/Context-Root-Website-Astro/about" />
    <MenuItem number={3} menuName="Services" link="/Context-Root-Website-Astro/services" />
    <MenuItem number={4} menuName="Contact" link="/Context-Root-Website-Astro/contact" />
  </div>
  <div>
    <p class="font-normal text-[16px]">
      Send an email to <a class="text-primary-800 dark:text-secondary-300" href="mailto:info@contextroot.com">
        info@contextroot.com</a
      >
    </p>
  </div>
</div>


